<ng-template gcWidget="identity">
    <p class="widget-host__meta">
        <span i18n="@@wow.player.since">Member since</span>
        {{ view().creationDate | date: 'mediumDate' }}
    </p>
    @if (!preview()) {
        <a
            [routerLink]="['/users', view().platformUserPublicId]"
            nbButton
            ghost
            status="basic"
            i18n="@@wow.player.platformProfile"
        >
            Platform profile
        </a>
    }
</ng-template>

<ng-template gcWidget="presentation-irl">
    <wow-player-presentation
        [text]="view().presentationIrl"
        [canEdit]="canEditFields()"
        [saving]="savingField()"
        (save)="saveField.emit({ presentationIrl: $event })"
    />
</ng-template>

<ng-template gcWidget="presentation-ig">
    <wow-player-presentation
        [text]="view().presentationIg"
        [canEdit]="canEditFields()"
        [saving]="savingField()"
        (save)="saveField.emit({ presentationIg: $event })"
    />
</ng-template>

<ng-template gcWidget="stats">
    <wow-player-stats
        [sheet]="view()"
        [canEdit]="canEditFields()"
        [saving]="savingField()"
        (save)="saveField.emit($event)"
    />
</ng-template>

<ng-template gcWidget="characters">
    @if (preview()) {
        <p class="widget-host__empty">Character list preview</p>
    } @else {
        <wow-character-list
            [playerPublicId]="view().publicId"
            [editable]="isOwner() && !editing()"
            (changed)="charactersChanged.emit()"
        />
    }
</ng-template>

<ng-template gcWidget="photos">
    @if (preview()) {
        <p class="widget-host__empty">Photo gallery preview</p>
    } @else {
        <wow-media-manager [playerPublicId]="view().publicId" kind="photo" />
    }
</ng-template>

<ng-template gcWidget="videos">
    @if (preview()) {
        <p class="widget-host__empty">Video gallery preview</p>
    } @else {
        <wow-media-manager [playerPublicId]="view().publicId" kind="video" />
    }
</ng-template>

<ng-template gcWidget="streams">
    @if (preview()) {
        <p class="widget-host__empty">Streams preview</p>
    } @else {
        <wow-media-manager [playerPublicId]="view().publicId" kind="stream" />
    }
</ng-template>

<ng-template gcWidget="gc-links">
    @if (preview()) {
        <p class="widget-host__empty">Links preview</p>
    } @else {
        <wow-link-board [playerPublicId]="view().publicId" />
    }
</ng-template>

<ng-template gcWidgetSettings="gc-links">
    @if (!preview()) {
        <wow-link-admin [playerPublicId]="view().publicId" />
    }
</ng-template>

<ng-template gcWidgetSettings="photos">
    @if (!preview()) {
        <wow-media-admin [playerPublicId]="view().publicId" kind="photo" />
    }
</ng-template>

<ng-template gcWidgetSettings="videos">
    @if (!preview()) {
        <wow-media-admin [playerPublicId]="view().publicId" kind="video" />
    }
</ng-template>

<ng-template gcWidgetSettings="streams">
    @if (!preview()) {
        <wow-media-admin [playerPublicId]="view().publicId" kind="stream" />
    }
</ng-template>
