<gc-entity-wall
    [posts]="store.posts()"
    [pending]="store.pending()"
    [canPublish]="canPublish()"
    [canModerate]="canModerate()"
    [playerPublicId]="playerPublicId()"
    [loading]="store.loading()"
    [loadingPending]="store.loadingPending()"
    [loadingMore]="store.loadingMore()"
    [hasMore]="store.hasMore()"
    [posting]="store.posting()"
    [queuedNotice]="queuedNotice()"
    [labels]="labels"
    (loadMoreClick)="store.loadMore()"
    (moderateClick)="moderate($event)"
    (removeClick)="remove($event)"
    (editStart)="onEditStart()"
>
    <wow-guild-post-form
        gcEntityWallComposer
        #composer
        [saving]="store.posting()"
        [errorCode]="store.errorCode()"
        [moderated]="canModerate()"
        (save)="publish($event)"
    />

    <ng-template gcEntityWallEdit let-post>
        <wow-guild-post-form
            [post]="asGamePost(post)"
            [saving]="store.posting()"
            [errorCode]="store.errorCode()"
            [moderated]="canModerate()"
            (save)="saveEdit(asGamePost(post), $event)"
            (cancel)="cancelEdit()"
        />
    </ng-template>

    <ng-template gcEntityWallExtras let-post>
        @if (asGamePost(post).mediaUrl; as mediaUrl) {
            <img class="guild-wall__media" [src]="mediaUrl" alt="" />
        }
        @if (!asGamePost(post).isPublic()) {
            <p class="guild-wall__audience">
                <span>{{ audiencePrefix }}</span>
                <strong>{{ visibilityLabel(asGamePost(post)) }}</strong>
            </p>
        }
    </ng-template>
</gc-entity-wall>
